
.reservationsPage__containerTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.reservationsPage__title {
    max-width: 800px;
    width: 95%;
    /* background-color: red; */
}
.reservationPage__reserveCard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
