@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

label, button, input, select {
    font-size: 1.4rem;
}

/* ---RESET--- */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, p, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

input, button {
    font-family: inherit;
}

button {
    cursor: pointer;
}
/* eliminar */
/* html{
    background-color: #1a1d23;
}
.header {
    background-color: #1a1d23;
    box-shadow: 2px 2px 10px #0009;
}
.header__app {
    color: white;
}
.filterName__button {
    background-color: red;
}
.card__body {
    color: #fff9;
}
.card{
    box-shadow: 2px 2px 12px #0009;
}
.filterName__input {
    background-color: transparent;
    border: 1px solid #000;
}
.filterPrice__input {
    background-color: transparent;
    border: 1px solid #000;
}
.HomePage__containerFilter {
    color: #fff9;
} */